#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

# Security Hardening
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

build-deb/.stamp:
	rsync --exclude debian/ --exclude .pc/ -a * build-deb && touch $@

build-udeb/.stamp:
	rsync --exclude debian/ --exclude .pc/ -a * build-udeb && touch $@

override_dh_auto_configure: build-deb/.stamp build-udeb/.stamp
	cd build-deb && \
	./configure --prefix=/usr --mandir=\$${prefix}/share/man \
		--with-localdbdir=/var/lib/dhcpv6 --sysconfdir=/etc/wide-dhcpv6
	cd build-udeb && \
	./configure --prefix=/usr --mandir=\$${prefix}/share/man \
		--with-localdbdir=/var/lib/dhcpv6 --sysconfdir=/etc/wide-dhcpv6

override_dh_auto_build:
	$(MAKE) -C build-deb
	$(MAKE) -C build-udeb

override_dh_auto_install:
	$(MAKE) -C build-deb prefix=$(CURDIR)/debian/tmp/usr install
	$(MAKE) -C build-udeb prefix=$(CURDIR)/debian/tmp-udeb/usr install

override_dh_installinit:
	dh_installinit --error-handler=true --restart-after-upgrade

override_dh_fixperms:
	dh_fixperms
	chmod +x debian/wide-dhcpv6-client/etc/wide-dhcpv6/dhcp6c-*

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build-deb
	rm -rf build-udeb
