#!/bin/sh

set -e

. /usr/share/debconf/confmodule

INITCONFFILE=/etc/default/wide-dhcpv6-server

[ -r "${INITCONFFILE}" ] && {
	. ${INITCONFFILE}
	db_set wide-dhcpv6-server/interfaces "${INTERFACES}"
}

db_input high wide-dhcpv6-server/config_warn || true
db_input high wide-dhcpv6-server/interfaces || true
db_go || true

exit 0
